
@font-face {
    font-family: 'MarkPro';
    src: url('/assets/fonts/MarkPro.woff') format('woff');
}
* {
    font-family: 'MarkPro', sans-serif;
}
h1, h2, h3, h4, h5, h6, .sub_head, a {
    /*font-family: 'Amiko', sans-serif;*/
    font-family: 'MarkPro', sans-serif;
}
.cursive-font, .ppn_btn {
    font-family: 'Permanent Marker', cursive;
}



