:root {
    --primary-color: #fcbc06;
    --secondary-color: #4b4b4b;
    --white-color: #ffffff;
    --black-color: #000000;
    --primary-font: yellow;
    --secondary-font: yellow;
    --mobile-breakpoint: 850px;
  }