<div class="section row" id="menublock_2">
        <div class="intro w-100 text-center mb-2">
            <h2 class="primary-color">Panini Pui</h2>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Panini Veggie</h2>
                <img class="mask3"	src="../assets/media/panini-menu-1.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap pushdown">
                    <a class="left">
                        Alergeni: nuci, alune si bacon
                    </a>
                    <a class="fm_btn" href="https://hipmenu.ro/">comanda</a>
                </div>
            </div>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Steak Panini</h2>
                <img class="mask3"	src="../assets/media/panini-menu-2.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap">
                    <a class="left">
                        Nu contine alergeni
                    </a>
                    <a class="fm_btn" href=".">comanda</a>
                </div>
            </div>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Test Panini</h2>
                <img class="mask3"	src="../assets/media/panini-menu-3.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap">
                    <a class="left">
                        
                    </a>
                    <a class="fm_btn" href=".">comanda</a>
                </div>
            </div>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Panini Veggie</h2>
                <img class="mask3"	src="../assets/media/panini-menu-1.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap pushdown">
                    <a class="left">
                        Alergeni: nuci, alune si bacon
                    </a>
                    <a class="fm_btn" href="https://hipmenu.ro/">comanda</a>
                </div>
            </div>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Steak Panini</h2>
                <img class="mask3"	src="../assets/media/panini-menu-2.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap">
                    <a class="left">
                        Nu contine alergeni
                    </a>
                    <a class="fm_btn" href="https://hipmenu.ro/">comanda</a>
                </div>
            </div>
        </div>
        <div class="insta_geo col-xs-12 col-md-6 col-lg-4 mt-2 mb-2 margin_gap">
            <div class="geo_homepage_promo">
                <h2>Test Panini</h2>
                <img class="mask3"	src="../assets/media/panini-menu-3.jpg" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="btn_text_wrap">
                    <a class="left">
                        
                    </a>
                    <a class="fm_btn" href="https://hipmenu.ro/">comanda</a>
                </div>
            </div>
        </div>
    </div>